
body{
	min-height: 100vh;	
}

body > .row {
	height:100%;
}

#top-bar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 30px;
	align-items: center;
}

.main-content{
	padding:2rem;
}

#navigation {
	min-height: calc(100vh - 67px);
    position: relative;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
h1.block-title{
	margin:0;	
}

td a {
	font-family: 'Kanit Light', 'Kanit';
    font-size: 17px;
	color:var(--color-lightPurple);
}


.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
	/*display: block;
	opacity: 1;*/
	
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
	/*display: none;
	opacity: 0;
	transition: opacity 1000ms;*/
}

.admin-box{
	padding: 2rem;
    border-radius: 10px;
	
}
.admin-box{
	margin: 5px;
}

.admin-box table{

}

.admin-box th{
	font-weight: 500;
}
    
.admin-box thead{
    border-top: none!important;
	border-bottom: none!important;
}
.admin-box .table>:not(:first-child) {
    border-top: 2px solid var(--color-lightPurple);
}

@keyframes slide-in {
    100% { transform: translateX(0%);}
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%);}
    100% { transform: translateX(-100%);}
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%);}
}